<template name="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
            <h1>Twitter</h1>
                  <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/myplexserver" data-widget-id="614526606787244032">Tweets by @myplexserver</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
            <h1>E-Mail</h1>
                myplexserver1@gmail.com
            </div>
        </div>
    </div>
</template>
