<template name="faq">
    	<div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <h1>F.A.Q</h1>
                    <p class="lead">Q. My Movie or TV Show Hasn't downloaded?<br>
                    A. If the Movie or TV show that you requested hasn't downloaded in 2 hours send a tweet over to <strong>@Myplexserver</strong> on twitter and I'll get it as soon as possible.</p>
                    <p class="lead">Q. The Movie ____ is terrible quality, can you get a better version?<br>
                    A. If the movie you're watching was released in the past few months then there is usually not a good quality version and I couldn't find a better version at the time. 
                    If the movies is not new and the quality is terrible then I was not able to find a better version at the time. I try to keep my movies HQ but it isn't always possible
                    if you know of a better quality version then tweet <strong>@Myplexserver</strong> the name of the movie and I will look into it.</p>
                    <p class="lead">Q. I am having a problem watching _____ Movie.<br>
                    A. It could be 1 of 3 problems. 1. Your internet is slow. 2. The server is being overloaded. 3. The movie is not the right format and I have to find the right format.</p>
                    <!--<p class="lead">Q. </p>-->
                </div>
            </div>
    </div>
</template>