<template name="started">
    	<div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <h1>Getting Started</h1>
                    <p class="lead">1. Go to <a href="https://plex.tv/">Plex.TV</a> and Hit the Sign Up button.<br></p>
                    <img src="http://i.gyazo.com/7fa93f78166bb90b15677a69b0b8fca4.png">
                    <p></p>
                    <p class="lead">2. Enter your details and hit the "Sign Up" Button, Again.</p>
                    <p></p>
                    <p class="lead">3. After signing up for Plex, You can either send a tweet to <strong>@MyPlexServer</strong> with your <strong>Plex Username</strong> or send an E-Mail to <strong>myplexserver1@gmail.com</strong> with your <strong>Plex Username</strong> as the <strong>Subject</strong>.</p>
                    <p></p>
                    <p class="lead">4. Once you Send the Tweet/E-Mail Wait up to 24 Hours. You will be sent an E-Mail from Plex Saying that "You've been invited to share some media in Plex" Then click the "I 
                    Accept the Invitation" link.</p>
                    <p class="lead">5. Now to go <a href="https://plex.tv/web/app">plex.tv/web/app</a> and bookmark it. On the side you will now have Access to My Plex Server.</p>
                    <p class="lead">6. From now on, If you want a movie thats not in the current library click the "Request here!" tab at the top of the page. If the movie 
                    is not added within <strong>2 hours</strong> click the contact tab at the top of the page and contact me! </p>
                </div>
            </div>
    </div>
</template>