<template name="index">
	<div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <h1>Welcome to MyPlexServer.com!</h1>
                    <p class="lead">If you're an Existing User please continue.<br></p>
                         <p class="lead">If this is your first time here click the "Getting Started" Tab at the top!</p>
                </div>
            </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</template>