<template name="status">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="text-align:center;">
                <h1><strong>Server Status</strong></h1>
                <h6>(Depending on your connection this could take awhile)</h6>
               <iframe src="https://premium.boundary.com/embed/e.969ba31737?d-w=3&d-h=3&d-pad=0&d-header=1&d-slider=0&d-legend=0&d-bg=none&d-sg-cpu=0-0-1-1&d-sg-mem=1-0-1-1&d-sg-hdw=2-0-1-1-t&d-sg-hdr=2-0-1-1-b&d-sg-ni=0-1-3-1&d-sg-no=0-2-3-1#null" allowtransparency="true" width="800" height="600" ></iframe>
            </div>
        </div>
    </div>
</template>